@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root{
  /* font-size: 62.5%; */
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after{
  /* margin:0; */
  /* padding:0; */
  box-sizing: border-box;
}

/* p,
div,
section{
  font-size: 1.6rem;
} */

a {
  text-decoration: none;
}

li{
  list-style: none;
}